<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <title>{{ category.name }}</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/item.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Favico -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo1.png"/>

</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">dK</a>
            <!--<a class="navbar-brand" rel="home" href="#">-->
            <!--<img style="max-height:50px; margin-top: -12px;" src="logo.png">-->
            <!--</a>-->
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                {% for category in categories %}
                    <li class="dropdown">
                        <a href="/category/{{ category.key.id() }}" class="dropdown-toggle disabled"
                           data-toggle="dropdown">{{ category.name }}
                            {% for prod in products %}
                                {% if prod.category == category.key %}
                                    <b class="caret"></b>
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for prod in products %}
                                {% if prod.category == category.key %}
                                    <li><a href="/product/{{ prod.key.id() }}">{{ prod.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if users.get_current_user() and users.is_current_user_admin() %}
                    <li><a href="/add_product">{{ addpage }}</a></li>
                    <li><a href="/manage_category">{{ addcategory }}</a></li>
                    <li><a href="/admin">{{ adminview }}</a></li>
                {% endif %}
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="{{ url|safe }}"><span class="glyphicon glyphicon-log-in"></span> {{ url_linktext }} </a>
                </li>
            </ul>
        </div>

    </div>
    <!--Close container div-->
</nav>

<!-- Body -->
<div class="container wrapper">
    <div class="page-header">
        <h2>{{ category.name }}</h2>
    </div>

    <!-- Content -->
    {% for product in products %}
        {% if product.category == category.key %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="/product/{{ product.key.id() }}">
                        <img class="img-responsive thumb" src="{{ product.image }}" alt="..."></a>

                    <div class="caption">
                        <h4 class="pull-right price">$24.99</h4>
                        <h4><a href="/product/{{ product.key.id() }}">{{ product.name }}</a></h4>

                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>

                        <p>
                            {{ product.summary }}
                        </p>

                        <p>
                            <a href="#" class="btn btn-primary" role="button">Add to cart</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <!--Close row div-->
    <div class="push"></div>
</div>

<!-- Footer -->
<div class="container" id="footer">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <div style="text-align: center;">Copyright &copy; dK &reg; 2016</div>
            </div>
        </div>
    </footer>
    <br>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/stylesheets/gist.js"></script>

</body>
</html>
{% endautoescape %}