<!DOCTYPE html>
{% autoescape true %}
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Product</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>

    <script>
        function validateForm() {
            var x = document.forms["myForm"]["name"].value;
            if (x == null || x == "") {
                alert("Product name must be filled out");
                return false;
            }
        }
    </script>
</head>

<!--=================================================================================================================-->
<body>

<div id="header">

    <a href="/">
        <div id="logo"><img src="/images/logo.jpg"></div>
    </a>

    <div>
        <div class="topbar" id="policy"><a href="/policy">Policy</a></div>
        <div class="topbar" id="about"><a href="/contact">About</a></div>
        <div class="topbar" id="contact"><a href="/contact">Contact</a></div>
        <br>
    </div>

    <div>
        <div class="topbar_under"></div>
        <div class="topbar_under"></div>
        <div class="topbar_under"></div>

        <div id="login" class="admin_buttons"><a href="{{ url|safe }}"> {{ url_linktext }} </a></div>
        <div class="admin_buttons"><a href="/addpage">{{ addpage }}</a></div>
        <div class="admin_buttons"><a href="/addcategory">{{ addcategory }}</a></div>
        <div class="admin_buttons"><a href="/adminview">{{ adminview }}</a></div>
    </div>

</div>

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<div id="background">

    <div class="space">
    </div>

    <div id="menu">
        <table class="cat_table">
            <td>
                <div class="navitab"><a href="/"> HOME </a></div>
            </td>

            {% for category in categories %}
            <td>
                <div class="navitab">
                    <a href="/category/{{category.key.id()}}">{{category.name}} </a>
                </div>
            </td>
            {% endfor %}
        </table>
    </div>

    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <div class="space">
    </div>

    <div class="block" style="background-color: whitesmoke; color: deepskyblue;">
        <br>

        <form name="myForm" action='/edit/{{ product.key.id() }}' method='post' onsubmit="return validateForm()">
            <div>
                <label for="category">Category:</label>
                <select name="category">
                    {% for category in categories %}
                    <option>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="name">Title:</label>
                <input type="text" name="name" value="{{ product.name|safe }}" class="text_input">
            </div>
            <div>
                <label for="pic_url">Url of the picture:</label>
                <input type="url" name="pic_url" value={{ product.image }} class="text_input">
            </div>
            <div>
                <label for="intro">Introduction:</label>
                <textarea name="intro" id="intro">{{ product.intro|safe }}</textarea>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" id="description">{{ product.description|safe }}</textarea>
            </div>
            <div>
                <label for="review">Review</label>
                <textarea name="review" id="review">{{ product.review|safe }}</textarea>
            </div>
            <script>
                CKEDITOR.replace('intro');
                CKEDITOR.replace('description');
                CKEDITOR.replace('review');
            </script>

            <br>

            <div>
                <input type="submit" value="Save Changes">

                <form action="/product/{{ product.key.id() }}">
                    <input type="submit" value="Cancel">
                </form>
            </div>
        </form>
        <br>
    </div>

    <div class="space">
    </div>
</div>


<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<div id="footer">
    <div> Address: HCM</div>
    <div>Telephone: 0123456789</div>
    <div>Email: rmiit@gmail.com</div>
    <br>
    Copyright © RMiiT
</div>

</body>
</html>
{% endautoescape %}











