<!DOCTYPE html>
{% autoescape true %}
<html>

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
    <title>Homepage - RMiiT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
</head>

<!--=========================================== Header ==========================================================-->
<body>

<div id="header">

    <a href="/">
        <div id="logo"><img src="/images/logo.jpg"></div>
    </a>

    <div>
        <div class="topbar" id="policy"><a href="/policy">Policy</a></div>
        <div class="topbar" id="about"><a href="/contact">About</a></div>
        <div class="topbar" id="contact"><a href="/contact">Contact</a></div>
        <br>
    </div>

    <div>
        <div class="topbar_under"></div>
        <div class="topbar_under"></div>
        <div class="topbar_under"></div>

        <div id="login" class="admin_buttons"><a href="{{ url|safe }}"> {{ url_linktext }} </a></div>
        <div class="admin_buttons"><a href="/addpage">{{ addpage }}</a></div>
        <div class="admin_buttons"><a href="/addcategory">{{ addcategory }}</a></div>
        <div class="admin_buttons"><a href="/adminview">{{ adminview }}</a></div>
    </div>

</div>


<!-- =================================== Body ===================================================================-->

<div id="background">

    <div class="space">
    </div>

    <div id="menu">
        <table class="cat_table">
            <td>
                <div class="navitab"><a href="/"> HOME </a></div>
            </td>

            {% for category in categories %}
                <td>
                    <div class="navitab">
                        <a href="/category/{{ category.key.id() }}">{{ category.name }} </a>
                    </div>
                </td>
            {% endfor %}
        </table>
    </div>

    <div class="space">
    </div>

    <!-- =========================================================================================================== -->

    <div class="block" style="min-height: 550px; height: auto">

        <div class="content">

            <h3> Our latest products!</h3>
            <br>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators" id="indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/images/deathadder_chroma_gallery_1__store_gallery.png" alt="Chania"
                             class="slide_image">
                    </div>

                    <div class="item">
                        <img src="/images/STEELSERIES_SIBERIA.png" alt="Chania" class="slide_image">
                    </div>

                    <div class="item">
                        <img src="/images/K70RGB.png" alt="Flower" class="slide_image">
                    </div>

                    <div class="item">
                        <img src="/images/rivalfade.png" alt="Flower" class="slide_image">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>

    <div class="space">
    </div>

    <!-- =========================================================================================================== -->

    {% for category in categories %}

        <div class="block">

            <div class="content">

                <table class="cat_table">
                    <tr>
                        <td></td>
                        <td><h3>{{ category.name }}</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        {% for product in products %}
                            {% if product.category == category.key %}
                                <td>
                                    <a href="/product/{{ product.key.id() }}">
                                        <img src="{{ product.image }}" width="90%">

                                        <div class="name">{{ product.name|safe }}</div>
                                    </a>

                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <h3>See other product</h3>
                            {% for product in products %}
                                {% if product.category == category.key %}
                                    <p><a href="/product/{{ product.key.id() }}">{{ product.name|striptags }}&nbsp;</a>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="space">
        </div>

    {% endfor %}

</div>

<!-- ========================================== Footer ========================================================= -->

<div id="footer">
    <div> Address: HCM</div>
    <div>Telephone: 0123456789</div>
    <div>Email: rmiit@gmail.com</div>
    <br>
    Copyright © RMiiT
</div>

</body>
</html>
{% endautoescape %}