<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <title>{{ product.name }}</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/product.css">
    <link rel="stylesheet" type="text/css" href="/light-box-2/css/lightbox.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Favico -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo1.png"/>

</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">dK</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% for category in categories %}
                    <li class="dropdown">
                        <a href="/category/{{ category.key.id() }}" class="dropdown-toggle disabled"
                           data-toggle="dropdown">{{ category.name }}
                            {% for prod in products %}
                                {% if prod.category == category.key %}
                                    <b class="caret"></b>
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for prod in products %}
                                {% if prod.category == category.key %}
                                    <li><a href="/product/{{ prod.key.id() }}">{{ prod.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if users.get_current_user() and users.is_current_user_admin() %}
                    <li><a href="/add_product">{{ addpage }}</a></li>
                    <li><a href="/manage_category">{{ addcategory }}</a></li>
                    <li><a href="/admin">{{ adminview }}</a></li>
                {% endif %}
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="{{ url|safe }}"><span class="glyphicon glyphicon-log-in"></span> {{ url_linktext }} </a>
                </li>
            </ul>
        </div>
        <!--Close navbar collapse div-->
    </div>
    <!--Close container div-->
</nav>

<!-- Body -->
<div class="container wrapper">

    <!--Image and caption-->
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail">
                {% if users.get_current_user() and users.is_current_user_admin() %}
                    <div class="caption">
                        <form method="post"
                              onsubmit="return confirm('Are you sure you want to delete this product?')"
                              action="/delete_product/{{ product.key.id() }}"
                              class="custom-btn">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            {# onclick="post('/delete_product/{{ product.key.id() }}')" #}
                        </form>

                        <a href="/edit/{{ product.key.id() }}" class="custom-btn">
                            <button class="btn btn-info">Edit</button>
                        </a>
                    </div>
                {% endif %}

                <img class="img-responsive" style="max-height: 300px !important;"
                     src="{{ product.image }}" alt="...">

                <div class="caption-full">
                    <h3 class="pull-right" id="price">${{ product.price }}</h3>
                    <h3>{{ product.name }}</h3>

                    {{ product.intro|safe }}&nbsp;
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>

                    <p>
                        <a href="#Reviews" id="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </a>
                    </p>
                </div>
            </div>
            <!--Close thumbnail div-->
        </div>
        <!--Close col div-->
    </div>

    <!--Spec, Review, Gallery-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Specification" data-toggle="tab">Specification</a></li>
                        <li><a href="#Reviews" data-toggle="tab">Reviews</a></li>
                        <li><a href="#Gallery" data-toggle="tab">Gallery</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="Specification">
                            {{ product.description|safe }}&nbsp;
                        </div>

                        <div class="tab-pane fade" id="Reviews">
                            {{ product.review|safe }}&nbsp;
                        </div>

                        <div class="tab-pane fade" id="Gallery">
                            <div class="row">

                                {% for image in images %}
                                    <div class="col-xs-12 col-md-6 col-lg-4">
                                        <div class="thumbnail">
                                            <div class="store-img">
                                                <a href={{ image }} data-lightbox="image-1">
                                                    <img class="img-responsive thumb" src={{ image }} alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <!--Close tab-content div-->
                </div>
                <!--Close panel body div-->
            </div>
            <!-- Close panel nav tabs div -->
        </div>
        <!-- Close col div -->
    </div>
    <!-- Close row div -->

    <div class="push"></div>
</div>

<!-- Footer -->
<div class="container" id="footer">
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <div>Copyright &copy; dK &reg; 2016</div>
            </div>
        </div>
    </footer>
    <br>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/light-box-2/js/lightbox.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/stylesheets/gist.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#rating').click(function (e) {
            $('.nav-tabs a[href="#Reviews"]').tab('show');
        });
    });
</script>

</body>
</html>
{% endautoescape %}