<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <title>Edit Product</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Favico -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo1.png"/>

</head>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">dK</a>
            <!--<a class="navbar-brand" rel="home" href="#">-->
            <!--<img style="max-height:50px; margin-top: -12px;" src="logo.png">-->
            <!--</a>-->
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                {% for category in categories %}
                    <li class="dropdown">
                        <a href="/category/{{ category.key.id() }}" class="dropdown-toggle disabled"
                           data-toggle="dropdown">{{ category.name }}
                            {% for prod in products %}
                                {% if prod.category == category.key %}
                                    <b class="caret"></b>
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for prod in products %}
                                {% if prod.category == category.key %}
                                    <li><a href="/product/{{ prod.key.id() }}">{{ prod.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if users.get_current_user() and users.is_current_user_admin() %}
                    <li><a href="/add_product">{{ addpage }}</a></li>
                    <li><a href="/manage_category">{{ addcategory }}</a></li>
                    <li><a href="/admin">{{ adminview }}</a></li>
                {% endif %}
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="{{ url|safe }}"><span class="glyphicon glyphicon-log-in"></span> {{ url_linktext }} </a>
                </li>
            </ul>
        </div>

    </div>
    <!--Close container div-->
</nav>

<!-- Body -->
<div class="container wrapper">
    <div class="page-header">
        <h2>Edit Product</h2>
    </div>

    <!-- Content -->
    <form name="myForm" class="form-horizontal" role="form" method="post" action="/edit/{{ product.key.id() }}"
          onsubmit="return validateForm()">

        <div class="form-group">
            <label class="control-label col-sm-2" for="category">Category:</label>
            <div class="col-sm-10">
                <select class="form-control" name="category" id="category">
                    {% for category in categories %}
                        <option {% if product.category == category.key %}
                            selected {% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Tilte:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" value="{{ product.name|safe }}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Price:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="price" id="price" value={{ product.price }}>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="summary">Summary (Features):</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="summary" id="summary">{{ product.summary }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pic_url">Images URL:</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" name="pic_url" id="pic_url" value={{ product.image }}>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="intro">Introduction:</label>
            <div class="col-sm-10">
                <textarea name="intro" id="intro">{{ product.intro|safe }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description:</label>
            <div class="col-sm-10">
                <textarea name="description" id="description">{{ product.description|safe }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="review">Review:</label>
            <div class="col-sm-10">
                <textarea name="review" id="review">{{ product.review|safe }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input type="submit" value="Save Changes">
                <form action="/product/{{ product.key.id() }}">
                    <input type="submit" value="Cancel">
                </form>
            </div>
        </div>
    </form>

    <div class="push"></div>
</div>

<!-- Footer -->
<div class="container" id="footer">
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <div>Copyright &copy; dK &reg; 2016</div>
            </div>
        </div>
    </footer>
    <br>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
<script src="/stylesheets/gist.js"></script>

<script>
    //                CKEDITOR.replace('name');
    CKEDITOR.replace('intro');
    CKEDITOR.replace('description');
    CKEDITOR.replace('review');
</script>

</body>
</html>
{% endautoescape %}