html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("/images/background.jpg");
}

#background {
    width: 100%;
    height: 100%;
}

/* ================================================== Header ======================================================= */

#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    height: 155px;
}

#logo {
    float: left;
}

.topbar {
    width: 100px;
    float: right;
    padding: 5px;
}

#policy {
    background-color: dimgrey;
}

#about {
    background-color: darkgray;
}

#contact {
    background-color: lightgray;
}

.topbar_under{
    width: 75%;
    display: inline-block;
    margin: 0;

}

#login {
    background-color: dodgerblue;
}

.admin_buttons {
    float: right;
    width: 7%;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

/*========================================== Menu/Navigation =====================================================*/

#menu {
    height: 50px;
    width: 70%;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
}

.navitab {
    line-height: 300%;
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-transform: uppercase;
}

/*==========================================================================================================*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.button:hover {
    background-color: #3e8e41;
}

.space {
    height: 15px;
    width: 70%;
    margin: 0 auto;
}

.block {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.content {
    /* div contains content */
    line-height: 150%;
    padding: 10px 40px;
}

#product {
    max-height: 400px;
    max-width: 400px;
}

/*===================================================================================================================*/

form {
    padding: 10px;
}

.text_input {
    width: 50%;
    height: 100%;
    min-height: 30px;
}

/*===================================================================================================================*/

#indicators {
    position: absolute;
    top: 110%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: deepskyblue !important;
    text-decoration: none !important;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.sub {
    visibility: hidden; /* This hides the menu until we hover */
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.navitab:hover .sub {

    visibility: visible; /* This makes the menu visible when user hovers */
    text-align: center;
    border-color: red !important;
    z-index: 100;

}

.sub a {
    color: white;
    background: rgb(10, 10, 10);
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.box1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.box2 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sub a:hover {
    background: rgb(10, 10, 10);
    color: deepskyblue !important;
}

#one {
    visibility: visible !important;
    height: 0;
    transition: height 0.4s ease-in-out;
    -moz-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
}

#two {
    visibility: visible !important;
    height: 0;
    transition: height 0.4s ease-in-out;
    -moz-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
}

#three {
    visibility: visible !important;
    height: 0;
    transition: height 0.4s ease-in-out;
    -moz-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
}

.navitab:hover #one {
    height: 1000%;
}

.navitab:hover #two {
    height: 1000%;
}

.navitab:hover #three {
    height: 1000%;
}

/*===================================================================================================================*/

.cat_table {
    text-align: center;
}

.name {
    font-size: 150%;
    font-family: Arial !important;
}

/*===================================================================================================================*/

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.slide_image {
    height: 350px !important;
    width: auto !important;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    padding: 0px 10px 1px 50px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
}

/*table, td, th {*/
    /*border: 1px solid white;*/
/*}*/
