.ratings {
    color: gold;
    float: left;
    width: 100%;
}

.caption-name {
    float: left;
    width: 80%;
}

.caption-prices {
    float: left;
    width: 20%;
}

.caption-info {
    width: 100%;
}

.thumbnail {
    height: 460px !important;
    overflow: hidden;
    position: relative;
}

#button_group {
    width: 100%;
    padding-right: 25px;
    position: absolute;
    bottom: 10px;
}