.thumbnail {
    /*height: 475px !important;*/
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    .thumbnail {
        height: auto !important;
    }
}

.ratings {
    color: gold;
    width: 100%;
}

.caption-name-price {
    width: 100%;
    overflow: hidden;
}

.caption-name {
    float: left;
    width: 78%;
    padding-right: 5px;
}

.caption-prices {
    float: right;
    width: 22%;
}

.caption-info {
    width: 100%;
}

.thumb { /* thumbnail in product page */
    height: 200px !important;
}

#summary {
    text-align: justify;
}

#button_group {
    width: 100%;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.add_space {
    display: block;
    height: 25px;
    width: 100%;
}