html, body {
    height: 100%;
}

body {
    background-color: #fff;
    padding-top: 30px;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: #337ab7;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #96dcff;
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #96dcff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #96dcff;
    background-color: #005fb2;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #96dcff;
    background-color: #005fb2;
}

.navbar-inverse .navbar-toggle {
    border-color: #005fb2;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #005fb2;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ffffff;
}

.navbar-inverse .navbar-link {
    color: #ffffff;
}

.navbar-inverse .navbar-link:hover {
    color: #96dcff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #96dcff;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #96dcff;
        background-color: #005fb2;
    }
}

.img-responsive {
    max-height: 100% !important;
}

.slide-image {
    max-height: 400px;
    margin: auto;
}

.price {
    color: #5cb85c;
}

.sale {
    color: #b92c28;
}

@media (min-width: 768px) {
    .thumb {
        height: auto !important;
    }
}

.thumb {
    max-height: 200px !important;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -81px;
}

#footer, .push {
    height: 81px;
    text-align: center;
}

.custom-btn {
    display: inline-block;
    float: right;
    padding-left: 5px;
}