/*
* CSS for all pages
* */

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    padding-top: 30px;
}

.navbar {
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif !important;
    line-height: 1.5;
    border: 0;
    border-radius: 0;
    background-color: #2196f3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background-color: #ffffff;
    color: #000000;
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #ffffff;
    color: #000000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ffffff;
    color: #000000;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #000000;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #229fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse {
    border-color: #ffffff;
}

@media (max-width: 767px) {
    /*.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {*/
    /*color: #ffffff;*/
    /*}*/
    /*.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,*/
    /*.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {*/
    /*color: #96dcff;*/
    /*}*/
    /*.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,*/
    /*.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,*/
    /*.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {*/
    /*color: #96dcff;*/
    /*background-color: #005fb2;*/
    /*}*/
}

.wrapper { /* wrapper container */
    min-height: 100%;
    margin: 0 auto -81px;
}

#footer, .push { /* footer stay at the end of the screen, not fixed*/
    height: 81px;
    text-align: center;
}

.slide-image { /* image inside carousel slide */
    max-height: 400px;
    margin: auto;
}

.price {
    color: #5cb85c;
}

.sale {
    color: #e30038;
    text-decoration: line-through;
}

.custom-btn { /* buttons in button group*/
    display: inline-block;
    float: right;
    margin-left: 5px;
}

/*.custom-btn:hover {*/
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important*/
/*}*/

#copyright {
    font-size: 12px;
    font-weight: 500;
}

.fa-heart {
    color: hotpink;
}