{#
# Common form for add/edit pages
#}
{% macro form(  product,
                categories,
                page_name,
                action,
                name_plh, name,
                price_plh, price,
                summary_plh, summary,
                thumb, images,
                url_plh, url,
                intro,
                description,
                review,
                submit_btn,
                action_cancel) %}
    {#  product = product from query
        categories = categories from query
        page_name = page header
        action = form action ("/add_product" or "/edit/key")
        *_plh = placeholder
        submit_btn = Add/Save Changes
        action_cancel = url to redirect
        #}

    <div class="container wrapper">
        <div class="page-header">
            <h2>{{ page_name }}</h2>
        </div>

        <!-- Content -->
        <form name="myForm" class="form-horizontal" role="form" action="{{ action }}" method="post"
              onsubmit="return validateForm()">

            <div class="form-group">

                <label class="control-label col-sm-2" for="name">Tilte:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="name" id="name"
                           placeholder="{{ name_plh }}"
                           value="{{ name }}">
                </div>

                <label class="control-label col-sm-1" for="category">Category:</label>
                <div class="col-sm-4">
                    <select class="form-control" name="category" id="category">
                        {% for category in categories %}
                            <option {% if product.category == category.key %}
                                selected {% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="form-group">

                <label class="control-label col-sm-2" for="price">Price:</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" name="price" id="price"
                               placeholder="{{ price_plh }}"
                               value="{{ price }}">
                    </div>
                </div>

                <label class="control-label col-sm-1" for="sale">Sale:</label>
                <div class="col-sm-4">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="Box"
                                {% if page_name == "Edit Product" and product.sale %} checked {% endif %}>
                    </span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top"
                               id="sale" name="sale" title="Enter number > 0 and < 100"
                                {% if page_name == "Add New Product" %} disabled
                                {% elif page_name == "Edit Product" %}
                                    {% if not product.sale %} disabled
                                    {% else %} value="{{ product.sale|safe }}"
                                    {% endif %}
                                {% endif %} >
                        <span class="input-group-addon">%</span>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="summary">Summary (Features):</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="summary" id="summary"
                              placeholder="{{ summary_plh }}">{{ summary }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="thumb">Thumbnail URL:</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" name="thumb" id="thumb" placeholder="{{ url_plh }}"
                           value={{ thumb }}>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pic_url">Images URL:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="pic_url" id="pic_url" placeholder="{{ url_plh }}"
                           value={{ thumb }}>
                    <div id="extra-url">
                        {% if page_name == "Edit Product" %}
                            {% for image in images %}
                                <div class="input-group add-space">
                                    <input type="text" class="form-control" name="pic_url" value="{{ image }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"
                                            onclick="remove_field(this)">&times;</button>
                                </span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button id="add-field" class="btn btn-default add-space" type="button">Add field</button>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="intro">Introduction:</label>
                <div class="col-sm-10">
                    <textarea name="intro" id="intro">{{ intro }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                    <textarea name="description" id="description">{{ description }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="review">Review:</label>
                <div class="col-sm-10">
                    <textarea name="review" id="review">{{ review }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="submit" value="{{ submit_btn }}">
                    <form action="{{ action_cancel }}">
                        <input type="submit" value="Cancel">
                    </form>
                </div>
            </div>
        </form>

        <div class="push"></div>
    </div>

{% endmacro %}


{#
# Common javascript for add/edit pages
#}
{% macro js() %}
    <script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
    <script src="/stylesheets/product_modify.js"></script>

    <script>
        CKEDITOR.replace('intro');
        CKEDITOR.replace('description');
        CKEDITOR.replace('review');
    </script>
{% endmacro %}

{#
# Display item(product) for index/category pages
#}
{%- macro item(product, users) %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/product/{{ product.key.id() }}">
                <img class="img-responsive thumb" src="{{ product.thumb }}" alt="..."></a>

            <div class="caption">

                <div class="caption-name-price">
                    <div class="caption-name">
                        <h4><a href="/product/{{ product.key.id() }}">{{ product.name }}</a></h4>
                    </div>

                    <div class="caption-prices">
                        {%- if not product.sale %}
                            <h4 class="price text-right">${{ product.price }}</h4>
                        {%- else %}
                            <h4 class="price text-right">${{ product.sale_price }}</h4>
                            <h4 class="sale text-right">${{ product.price }}</h4>
                        {%- endif %}
                    </div>
                </div>

                <div class="ratings">
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>

                {#                <p class="text-justify">#}
                {#                    {{ product.summary }}#}
                {#                </p>#}

                <div class="add_space"></div>

                <div id="button_group">

                    {%- if users.get_current_user() and users.is_current_user_admin() %}
                        <form method="post"
                              onsubmit="return confirm('Are you sure you want to delete this product?')"
                              action="/delete_product/{{ product.key.id() }}">
                            <button type="submit" class="btn btn-danger custom-btn">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                        </form>

                        <a href="/edit/{{ product.key.id() }}" class="btn btn-info custom-btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    {%- else %}
                        <a href="#" class="btn btn-primary custom-btn">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
                    {%- endif %}
                </div>
            </div>
            <!--Close caption div-->
        </div>
        <!--Close thumbnail div-->
    </div>
    <!--Close col div-->
{%- endmacro %}