{% extends "_base.html" %}
{% from "_macros.html" import item %}
{% block title %}{{ category.name }}{% endblock %}

<!--CSS-->
{% block head %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/item.css">
{% endblock %}

<!-- Content -->
{% block content %}

    <div class="container wrapper">
        <div class="page-header">
            <h2>{{ category.name }}</h2>
        </div>

        <!-- Content -->
        <div class="row">
            {% for product in products %}
                {% if product.category == category.key %}
                    {{ item(product, users) }}
                {% endif %}
            {% endfor %}
        </div>

        <div class="push"></div>
    </div>

{% endblock content %}

<!-- Scripts -->
{% block footer %}
    <script src="/stylesheets/item.js"></script>
{% endblock %}