{% extends "_base.html" %}
{% block title %}Category Management{% endblock %}

<!-- Content -->
{% block content %}

    <div class="container wrapper">
        <div class="page-header">
            <h2>Category Management</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <form name="myForm" action="/manage_category" method="post" onsubmit="">
                    <div class="input-group">
                        <input type="text" name="category" class="form-control"
                               placeholder="Enter new category name...">
                        <span class="input-group-btn">
                        <input type="submit" value="Add Category" class="btn btn-secondary">
                    </span>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>List of category:</h3>
            </div>
        </div>

        {% for category in categories %}
            <div class="row">
                <div class="col-lg-2 col-md-2 col-xs-4 col-lg-offset-2">
                    <label>
                        <input type="text" id="{{ category.name }}" class="form-control" value="{{ category.name }}"
                               readonly>
                    </label>
                    {#                <a href="/category/{{ category.key.id() }}"><h4>{{ category.name }}</h4></a>#}
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                    <form method="post"
                          onsubmit="return confirm('Are you sure you want to delete this category?')"
                          action="/delete_category/{{ category.key.id() }}"
                          class="custom-btn">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    </form>

                    <div class="custom-btn">
                        <button class="btn btn-default" id="save-{{ category.name }}"
                                style="visibility: hidden"
                                onclick="post('/edit_category/{{ category.key.id() }}', '{{ category.name }}')">Save
                        </button>

                        <button id="edit-{{ category.name }}" class="btn btn-info"
                                onclick="enableEditing('{{ category.name }}')">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                    </div>

                </div>
            </div>

            <br>
        {% endfor %}

        <div class="push"></div>
    </div>

{% endblock content %}

<!-- Scripts -->
{% block footer %}

    <script type="text/javascript">

        // Create a form and submit, use for a button instead of having an actual form
        function post(path, inputId) {
            method = "post"; // Set method to post by default

            // New name is current value of the input
            var new_name = document.getElementById(inputId).value;

            // Create a form
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            // Create an input field to a form for submitting
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "category");
            hiddenField.setAttribute("value", new_name);

            form.appendChild(hiddenField);

            if (confirm('Save with new name?')) {
                document.body.appendChild(form);
                form.submit();
            }
        }

        // Enable input text and show Save button
        function enableEditing(name) {
            if ($('#' + name).is('[readonly]')) {
                document.getElementById(name).readOnly = false;
                {#        document.getElementById("demo").innerHTML = name;#}
                document.getElementById("save-" + name).style.visibility = 'visible';
            } else {
                document.getElementById(name).readOnly = true;
                document.getElementById("save-" + name).style.visibility = 'hidden';
            }
        }

    </script>

{% endblock footer %}
