{% extends "_base.html" %}
{% block title %}Contact{% endblock %}

<!--CSS-->
{% block head %}

    <style type="text/css">

        .custom-heading {
            padding-bottom: 10px;
        }

        ul.social-buttons {
            font-size: 20px;
        }
    </style>

{% endblock head %}

<!-- Content -->
{% block content %}

    <div class="container wrapper">
        <div class="page-header">
            <h2>Contact</h2>
        </div>

        <!-- Content -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center custom-heading">
                <h3 class="section-heading">Let's get in touch!</h3>
                {#                <hr class="primary">#}
                <p>You need help or want to work with us? Give us a call or send us an email and we
                    will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>(+84) 123 456 789</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">ledinhkien96@gmail.com</a></p>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center custom-heading">
                <h3 class="section-heading">Follow us on the media!</h3>
                <p>No one wants to miss any updates and news </p>
            </div>

            <div class="col-lg-12 text-center">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/le.kien296">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/kien-le">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Close row div-->

        <div class="push"></div>
    </div>

{% endblock content %}