{% extends "_base.html" %}
{% from "_macros.html" import item %}
{% block title %}Welcome!{% endblock %}

<!--CSS-->
{% block head %}

    <link rel="stylesheet" type="text/css" href="/stylesheets/item.css">
    <style type="text/css">
        body {
            padding-top: 60px;
        }

        #carousel-example-generic {
            padding: 20px;
            background: url("/images/background-slide.jpg");
        }
    </style>
{% endblock head %}

<!-- Content -->
{%- block content %}
    <!-- Carousel -->
    <div id="carousel-container" class="container {% if not has_product %} wrapper {% endif %}">

        <div class="row">

            <div class="col-md-12">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">

                        <div class="item active ">
                            <img class="slide-image" src="images/K70RGB.png" alt="">
                        </div>
                        <div class="item ">
                            <img class="slide-image" src="images/rivalfade.png" alt="">
                        </div>
                        <div class="item ">
                            <img class="slide-image" src="images/STEELSERIES_SIBERIA.png" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <!--Close carousel slide div-->
            </div>
            <!--Close col-md-12 div-->
        </div>
        <!--Close row div-->
    </div>

    <!-- Main Content -->
    <div class="container">
        {%- if has_product %}
            {% if has_sale %}
                <div class="page-header">
                    <h3>ON SALE</h3>
                </div>

                <div class="row">
                    {% for product in products if product.sale %}
                        {% if loop.index < 4 %}
                            {{ item(product, users) }}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Close row div-->
            {% endif %}

            <div class="page-header">
                <h3>Latest products</h3>
            </div>

            <div class="row">
                {% for product in products %}
                    {% if loop.index < 4 %}
                        {{ item(product, users) }}
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Close row div-->
        {% endif %}
    </div>
    <!-- Close container div-->
{% endblock content %}

<!-- Scripts -->
{% block footer %}
    <script src="/stylesheets/item.js"></script>
{% endblock footer %}