{% extends "_base.html" %}
{% from "_macros.html" import js, form %}

{% block title %}Add Product{% endblock %}

<!--CSS-->
{% block head %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/product_modify.css">
{% endblock head %}

<!-- Content -->
{% block content %}

    {{ form(
    None,
    categories,
    "Add New Product",
    "/add_product",
    "Enter product name", "",
    "Enter product price", "",
    "Enter key features", "",
    "", None,
    "URL",
    "",
    "",
    "",
    "Add Page",
    "/admin") }}

{% endblock content %}

<!-- Scripts -->
{% block footer %}
    {{ js() }}
{% endblock footer %}