{% extends "_base.html" %}
{% from "_macros.html" import js, form %}

{% block title %}Add Product{% endblock %}

<!--CSS-->
{% block head %}

    <style type="text/css">
        .add-space {
            margin-top: 5px;
        }

        #summary {
            resize: vertical;
        }
    </style>

{% endblock head %}

<!-- Content -->
{% block content %}

    {{ form(
    None,
    categories,
    "Add New Product",
    "/add_product",
    "Enter product name", "",
    "Enter product price", "",
    "Enter key features", "",
    "URL", "",
    "",
    "",
    "",
    "Add Page",
    "/admin") }}

{% endblock content %}

<!-- Scripts -->
{% block footer %}
    {{ js() }}

    <script>
        // Remove images URL field
        function remove_field(element) {
            element.parentNode.parentNode.remove();
        }

        // Add images URL field
        $("#add-field").click(function () {
            $("#extra-url").append('<div class="input-group add-space">' +
                    '<input type="url" class="form-control" name="pic_url[]" placeholder="URL">' +
                    '<span class="input-group-btn">' +
                    '<button class="btn btn-secondary" type="button" onclick="remove_field(this)">&times;</button>' +
                    '</span>' +
                    '</div>');
        });

    </script>

{% endblock footer %}