{% extends "_base.html" %}
{% from "_macros.html" import js, form %}

{% block title %}Edit Product{% endblock %}

<!--CSS-->
{% block head %}

    <style type="text/css">
        #summary {
            resize: vertical;
        }
    </style>

{% endblock head %}

<!-- Content -->
{% block content %}

    {{ form(
    product,
    categories,
    "Edit Product",
    "/edit/" + product_key,
    "", product.name|safe,
    "", product.price,
    "", product.summary,
    "", product.image,
    product.intro|safe,
    product.description|safe,
    product.review|safe,
    "Save Changes",
    "/product/{{ product.key.id() }}"
    ) }}

{% endblock content %}

<!-- Scripts -->
{% block footer %}
    {{ js() }}
{% endblock footer %}